section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Tajawal";
}
a {
  text-decoration: none;
  color: #43969c;
  transition: 0.5s;
}
body {
  background-image: url("img/background-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 1200px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }
}
